<% unless goal.nil? %>
  <% experiment_class = "experiment experiment_with_goal" %>
<% else %>
  <% experiment_class = "experiment" %>
<% end %>

    <%= Split::Counter.all_values_hash(counter_name) %>

<div class="experiment">
  <div class="experiment-header">
    <h2>
      Counter: <%= counter_name %>
    </h2>
  </div>
  <table>
    <tr>
      <th>Experiment Name</th>
      <th>Alternative</th>
      <th>Counter</th>
    </tr>
    <%= Split::Counter.all_values_hash(counter_name).each do |experiment, alternative_hash| %>
      <% total_value = 0 %>
      <%= alternative_hash.each do |alternative, value| %>
        <tr>
          <td><%= experiment %></td>
          <td><%= alternative %></td>
          <td><%= value %></td>
        <tr>
        <% total_value += value %>
      <% end %>
      <tr class="totals">
        <td>Totals</td>
        <td></td>
        <td><%= total_value %></td>
      <tr>
    <% end %>
  </table>
</div>
